<% pagename = 'response'%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Upload this file</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <% include ./partials/head.ejs %>

  </head>

  <body>
<header>
    <% include ./partials/menu.ejs %>
</header>
    <div class="container">

      <div class="starter-template">
		<div class="starter-template">
			<% if (typeof resp == 'object' && resp) { %>
				<% if (resp.token) { %>
					<div>Hello <%= resp.displayName %></div>
					<div>Your email is:  <%= resp.userPrincipalName %></div>
				<% } else{ %>
					<h3> You have no token </h3>
				<% }%>
		  	 <% } %>
		<% if (typeof resp == 'string') { %>
				<div>This is your response <%= resp %></div>
		   <% } %>

		</div>
	</div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
